{{title}}


<button (click)="hello(1)">click me</button>

<!-- <div  *ngIf="show">
  Hello World! I am
</div> -->
<div *ngIf="show; else logout">
  Please Login Here
</div>
<ng-template #logout>
  Please Logout
</ng-template>

<div *ngFor="let i of studentName">
  {{i}}
</div>
<br>
<div *ngFor="let i of Countries">
  {{i.name}}
</div>
<br>


<form #form="ngForm" (submit)="fun(form)"> 
  <label>
   EmpName
 </label>
 <input type="text" name="EmpName" ngModel="EmpName"/>
 <br>
 <label>
   EmpSalary
 </label>
 <input type="text" name="EmpSalary" ngModel="EmpSalary"/>
 <br>
 <input type="submit" value="save">
 </form>

 <br>


<table class="table table-hover">
  <tr *ngFor="let emp of service.list">
    <td (click)="populateForm(emp)">{{emp.id}}</td>
<td (click)="populateForm(emp)">{{emp.name}}</td>
<td><button class="btn btn-sm btn-outline-danger">x</button></td>
  </tr>
</table>